<div class="container">
    <div class="row rowMargin">
        <div class="col-md-4">

        </div>
        <div class="col-md-4">
            <h4 class="text-uppercase text-justify">New Paragraph</h4>

            <p class="text-justify">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque ea quis
                molestias. Fugiat pariatur maxime quis culpa corporis vitae repudiandae aliquam
                voluptatem veniam, est atque cumque eum delectus sint!
            </p>
        </div>
        <div class="col-md-4">

        </div>
    </div>
    <div class="col-md-4">

        </div>
        <div class="col-md-4">
            <h4 class="text-uppercase text-justify">New Paragraph</h4>

            <p class="text-justify">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque ea quis
                molestias. Fugiat pariatur maxime quis culpa corporis vitae repudiandae aliquam
                voluptatem veniam, est atque cumque eum delectus sint!
            </p>
        </div>
        <div class="col-md-4">

        </div>
    </div>
    <div class="col-md-4">

        </div>
        <div class="col-md-4">
            <h4 class="text-uppercase text-justify">New Paragraph</h4>

            <p class="text-justify">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque ea quis
                molestias. Fugiat pariatur maxime quis culpa corporis vitae repudiandae aliquam
                voluptatem veniam, est atque cumque eum delectus sint!
            </p>
        </div>
        <div class="col-md-4">

        </div>
    </div>
    <div class="col-md-4">

        </div>
        <div class="col-md-4">
            <h4 class="text-uppercase text-justify">New Paragraph</h4>

            <p class="text-justify">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque ea quis
                molestias. Fugiat pariatur maxime quis culpa corporis vitae repudiandae aliquam
                voluptatem veniam, est atque cumque eum delectus sint!
            </p>
        </div>
        <div class="col-md-4">

        </div>
    </div>
    <div class="col-md-4">

        </div>
        <div class="col-md-4">
            <h4 class="text-uppercase text-justify">New Paragraph</h4>

            <p class="text-justify">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque ea quis
                molestias. Fugiat pariatur maxime quis culpa corporis vitae repudiandae aliquam
                voluptatem veniam, est atque cumque eum delectus sint!
            </p>
        </div>
        <div class="col-md-4">

        </div>
    </div>
</div>