<div class="container">
    <div class="row pt-5">
        <div class="col-md-12 text-center">
            <katex-element class="d-inline-block">{{vm.parser.parse("f(x) = ")}}</katex-element> <input id="a" ng-model="vm._options.a" ng-change="vm.updateWidth('a')" class="textbox" type="text"><katex-element class="d-inline-block">{{vm.parser.parse("x^3 + ")}}</katex-element> <input id="b" ng-model="vm._options.b" ng-change="vm.updateWidth('b')" class="textbox" type="text"><katex-element class="d-inline-block">{{vm.parser.parse("x^2 + ")}}</katex-element> <input id="c" ng-model="vm._options.c" ng-change="vm.updateWidth('c')" class="textbox" type="text"><katex-element class="d-inline-block">{{vm.parser.parse("x + ")}}</katex-element> <input id="d" ng-model="vm._options.d" ng-change="vm.updateWidth('d')" class="textbox" type="text">
        </div>

    </div>

</div>